# requirements.txt

attrs==23.1.0
Automat==22.10.0
bidict==0.22.1
blinker==1.7.0
certifi==2023.11.17
cffi==1.16.0
charset-normalizer==3.3.2
click==8.1.7
colorama==0.4.6
constantly==23.10.4
cryptography==41.0.5
cssselect==1.2.0
filelock==3.13.1
Flask==3.0.0
Flask-SocketIO==5.3.6
h11==0.14.0
hyperlink==21.0.0
idna==3.5
incremental==22.10.0
itemadapter==0.8.0
itemloaders==1.1.0
itsdangerous==2.1.2
Jinja2==3.1.2
jmespath==1.0.1
lunr==0.7.0.post1
lxml==4.9.3
MarkupSafe==2.1.3
packaging==23.2
parsel==1.8.1
Protego==0.3.0
pyasn1==0.5.1
pyasn1-modules==0.3.0
pycparser==2.21
PyDispatcher==2.0.7
pyOpenSSL==23.3.0
pysimconnect==0.2.6
python-engineio==4.8.0
python-socketio==5.10.0
pyvjoy==1.0.1
queuelib==1.6.2
requests==2.31.0
requests-file==1.5.1
service-identity==23.1.0
setuptools==69.0.2
simple-websocket==1.0.0
six==1.16.0
tldextract==5.1.1
Twisted==22.10.0
twisted-iocpsupport==1.0.4
typer==0.9.0
typing_extensions==4.8.0
urllib3==2.1.0
w3lib==2.1.2
Werkzeug==3.0.1
wsproto==1.2.0
zope.interface==6.1
